In [501]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# –î–ª—è —Ä–∞–±–æ—Ç—ã —Å –º–∞—Ç—Ä–∏—Ü–∞–º–∏
from scipy.sparse import csr_matrix, coo_matrix

# –î–µ—Ç–µ—Ä–º–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –∞–ª–≥–æ—Ä–∏—Ç–º—ã
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# –ú–µ—Ç—Ä–∏–∫–∏
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

In [559]:
data = pd.read_csv('../lesson2/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [560]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

# –û—Ü–µ–Ω–∏–≤–∞–Ω–∏–µ
–ó–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏ –∫–∞–∂–¥–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è 1 –±–∞–ª–ª

4 –±–∞–ª–ª–∞ -> –æ—Ç–ª

3 –±–∞–ª–ª–∞ -> —Ö–æ—Ä

–ò —Ç–¥

### –ó–∞–¥–∞–Ω–∏–µ 1. Weighted Random Recommendation

–ù–∞–ø–∏—à–∏—Ç–µ –∫–æ–¥ –¥–ª—è —Å–ª—É—á–∞–π–Ω—ã—Ö —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–π, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞—Ç—å —Ç–æ–≤–∞—Ä –ø—Ä—è–º–æ –ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–∞ –ª–æ–≥–∞—Ä–∏—Ñ–º—É –ø—Ä–æ–¥–∞–∂
- –ú–æ–∂–Ω–æ —Å—ç–º–ø–ª–∏—Ä–æ–≤–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å–ª—É—á–∞–π–Ω–æ, –Ω–æ –ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–æ –∫–∞–∫–æ–º—É-–ª–∏–±–æ –≤–µ—Å—É
- –ù–∞–ø—Ä–∏–º–µ—Ä, –ø—Ä—è–º–æ–ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–æ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –í–µ—Å = log(sales_sum —Ç–æ–≤–∞—Ä–∞)

In [561]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(10)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...
2        6  [920308, 926804, 946489, 1006718, 1017061, 107...
3        7  [840386, 889774, 898068, 909714, 929067, 95347...
4        8  [835098, 872137, 910439, 924610, 992977, 10412...
5        9  [864335, 990865, 1029743, 9297474, 10457112, 8...
6       13  [6534178, 1104146, 829197, 840361, 862070, 884...
7       14  [840601, 867293, 933067, 951590, 952408, 96569...
8       15  [910439, 1082185, 959076, 1023958, 1082310, 13...
9       16                       [1062973, 1082185, 13007710]

In [562]:
data_train.head(3)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.3,1631,1,0.0,0.0

In [563]:
def weighted_random_recommendation(items_weights, n=5, m = 10):
    """–°–ª—É—á–∞–π–Ω—ã–µ —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–∏
    
    Input
    -----
    items_weights: pd.DataFrame
        –î–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏ item_id, weight. –°—É–º–º–∞ weight –ø–æ –≤—Å–µ–º —Ç–æ–≤–∞—Ä–∞–º = 1
    n : int
        –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–æ–≤–∞—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ–º
    m : int
        —á–∏—Å–ª–æ —Ç–æ–≤–∞—Ä–æ–≤ —Å –±–æ–ª—å—à–∏–º –≤–µ—Å–æ–º, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –≤—ã–±–∏—Ä–∞–µ–º —Ç–æ–≤–∞—Ä—ã –¥–ª—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
    """
    items_weights.sort_values('weight', ascending=False, inplace=True)
    popular = np.array(items_weights.head(m)['item_id'])
    recs = np.random.choice(popular, size=n, replace=False)
    
    
    return recs.tolist()

–°–¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ

In [564]:
%%time
items_weights = data_train.groupby('item_id')['quantity'].sum().reset_index()
items_weights['quantity'] =items_weights['quantity']
items_weights['weight'] = items_weights['quantity'] / items_weights['quantity'].sum()
items_weights.drop(['quantity'], axis = 1, inplace = True)
items_weights
result['weight_rand_rec'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5, m = 10))
result.head(2)

CPU times: user 7.37 s, sys: 324 ms, total: 7.69 s
Wall time: 7.74 s

,user_id,actual,weight_rand_rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[6533889, 1426702, 5668996, 6544236, 6534178]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[397896, 5668996, 1404121, 480014, 6534178]"

In [565]:
result3 = result.copy()

### –ó–∞–¥–∞–Ω–∏–µ 2. –†–∞—Å—á–µ—Ç –º–µ—Ç—Ä–∏–∫
–†–∞—Å—Å—á–∏—Ç–∞–π—Ç–µ Precision@5 –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –∞–ª–≥–æ—Ä–∏—Ç–º–∞ —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏ –∏–∑ –≤–µ–±–∏–Ω–∞—Ä–∞ 1. –ö–∞–∫–æ–π –∞–ª–≥–æ—Ä–∏—Ç–º –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –ª—É—á—à–µ–µ –∫–∞—á–µ—Å—Ç–≤–æ?

In [566]:
result = pd.read_csv('../lesson2/predictions_basic.csv') # –∑–∞–∫–≥—Ä—É–∑–∫–∞ predict —Å —Å–µ–º–∏–∞–Ω–∞—Ä–∞
result.head(2)

,user_id,actual,random_recommendation,popular_recommendation,itemitem,cosine,tfidf,own_purchases
0,1,[ 821867 834484 856942 865456 889248 ...,"[8358205, 13671693, 691528, 17105399, 8358017]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1127831, 995242]","[1082185, 999999, 981760, 1127831, 1098066]","[1082185, 981760, 1127831, 999999, 1098066]","[999999, 1082185, 1029743, 995785, 1004906]"
1,3,[ 835476 851057 872021 878302 879948 ...,"[6773090, 13213082, 958601, 1032110, 824784]","[6534178, 6533889, 1029743, 6534166, 1082185]","[999999, 1082185, 981760, 1098066, 995242]","[1082185, 1098066, 981760, 999999, 826249]","[1082185, 981760, 1098066, 826249, 999999]","[999999, 1082185, 1098066, 6534178, 1127831]"

–í —Å–≤—è–∑–∏ —Å —Ç–µ–º, —á—Ç–æ –ø–æ—Å–ª–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è –∏ –æ—Ç–∫—Ä—ã—Ç–∏—è —Ñ–∞–π–ª–∞ csv –∏–∑–º–µ–Ω–∏–ª–∏—Å—å —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö, –≤—ã–ø–æ–ª–Ω–∏–º –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è

In [567]:
result['random_recommendation'] = result['random_recommendation'].map(lambda x: x[1:-1].split(', '))
result['popular_recommendation'] = result['popular_recommendation'].map(lambda x: x[1:-1].split(', '))
result['itemitem'] = result['itemitem'].map(lambda x: x[1:-1].split(', '))
result['cosine'] = result['cosine'].map(lambda x: x[1:-1].split(', '))
result['tfidf'] = result['tfidf'].map(lambda x: x[1:-1].split(', '))
result['own_purchases'] = result['own_purchases'].map(lambda x: x[1:-1].split(', '))

In [568]:
data_test = data_test.astype({'item_id': str})

In [569]:
result2 = data_test.groupby('user_id')['item_id'].unique().reset_index()
result2.columns=['user_id', 'actual']
result['actual'] = result2['actual']

In [570]:
type(result['actual'].iloc[0][0])

str

In [571]:
def precision_at_k_(recommended_list, bought_list, k=5):
    
    #bought_list = np.array(bought_list)
    #recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # –¢—É—Ç –Ω–µ—Ç [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    #print(flags)
    
    
    precision = flags.sum() / len(recommended_list)
    
    return precision

In [572]:
def precision_at_k_column(recommended_list, bought_list, k=5):
    a = []
    for i in range(recommended_list.shape[0]):
        a.append(precision_at_k_(recommended_list.iloc[i], bought_list[i], k=5))
    return a , np.mean(a)    
    #return np.mean(a)

In [574]:
a, b = precision_at_k_column(result['random_recommendation'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è random_recommendation {}'.format(b))
c, d = precision_at_k_column(result['popular_recommendation'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è popular_recommendation {}'.format(d))
x, y = precision_at_k_column(result3['weight_rand_rec'], result3['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è weight_rand_rec {}'.format(y))
e, f = precision_at_k_column(result['itemitem'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem {}'.format(f))
g, h = precision_at_k_column(result['cosine'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è cosine {}'.format(h))
j, k = precision_at_k_column(result['tfidf'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è tfidf {}'.format(k))
l, m = precision_at_k_column(result['own_purchases'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è own_purchases {}'.format(m))

—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è random_recommendation 0.0007835455435847209
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è popular_recommendation 0.15523996082272282
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è weight_rand_rec 0.022624877571008815
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem 0.13692458374143
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è cosine 0.1329089128305583
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è tfidf 0.13898139079333988
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è own_purchases 0.17969311132876264

–õ—É—á—à–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ–ª—É—á–∏–ª—Å—è –¥–ª—è own_purchases

### –ó–∞–¥–∞–Ω–∏–µ 3. –£–ª—É—á—à–µ–Ω–∏–µ –±–µ–π–∑–ª–∞–π–Ω–æ–≤ –∏ ItemItem

- –ü–æ–ø—Ä–æ–±—É–π—Ç–µ —É–ª—É—á—à–∏—Ç—å –±–µ–π–∑–ª–∞–π–Ω—ã, —Å—á–∏—Ç–∞—è –∏—Ö –Ω–∞ —Ç–æ–ø-5000 —Ç–æ–≤–∞—Ä–æ–≤
- –ü–æ–ø—Ä–æ–±—É–π—Ç–µ —É–ª—É—á—à–∏—Ç—å —Ä–∞–∑–Ω—ã–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã ItemItemRecommender, –≤—ã–±–∏—Ä–∞—è —á–∏—Å–ª–æ —Å–æ—Å–µ–¥–µ–π $K$.
-  *–ü–æ–ø—Ä–æ–±—É–π—Ç–µ —Å—Ç—Ä–∞—Ç–µ–≥–∏–∏ –∞–Ω—Å–∞–º–±–ª–∏—Ä–æ–≤–∞–Ω–∏—è –∏–∑—É—á–µ–Ω–Ω—ã—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤

–û–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–µ—Ä–≤—ã–µ 2 –ø—É–Ω–∫—Ç–∞!

In [588]:
data = pd.read_csv('../lesson2/retail_train.csv')

In [589]:
popularity = data.groupby('item_id')['sales_value'].sum().reset_index()

In [590]:
np.sort(popularity.sales_value)[::-1]

array([467993.62000001,  42645.75      ,  37981.91      , ...,
            0.        ,      0.        ,      0.        ])

In [591]:
data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

–°–æ–∑–¥–∞–¥–∏–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å –ø–æ–∫—É–ø–∫–∞–º–∏ —é–∑–µ—Ä–æ–≤ –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ (–ø–æ—Å–ª–µ–¥–Ω–∏–µ 3 –Ω–µ–¥–µ–ª–∏)

In [592]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']

In [593]:
type(result.iloc[0].actual[2])

numpy.int64

In [594]:
def random_recommendation(items, n=5):
    """–°–ª—É—á–∞–π–Ω—ã–µ —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–∏"""
    
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [595]:
popularity = popularity.reset_index().sort_values(by=['sales_value', 'index'], ascending=False).set_index('index')
popularity = popularity[:5000]

In [596]:
popularity.shape

(5000, 2)

In [597]:
%%time

items = popularity.item_id.unique()

result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items, n=5))
result.head(2)

CPU times: user 234 ms, sys: 4.39 ms, total: 238 ms
Wall time: 242 ms

,user_id,actual,random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[9655696, 922127, 860776, 956672, 850133]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1050741, 831063, 1067606, 1076105, 930666]"

In [598]:
%%time

# –ú–æ–∂–Ω–æ —Ç–∞–∫ –¥–µ–ª–∞—Ç—å, —Ç–∞–∫ –∫–∞–∫ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è –Ω–µ –∑–∞–≤–∏—Å–∏—Ç –æ—Ç —é–∑–µ—Ä–∞
popular_recs = popularity.item_id.unique()[:5]

result['popular_recommendation'] = result['user_id'].apply(lambda x: popular_recs)
result.head(2)

CPU times: user 3.09 ms, sys: 245 ¬µs, total: 3.34 ms
Wall time: 3.26 ms

,user_id,actual,random_recommendation,popular_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[9655696, 922127, 860776, 956672, 850133]","[6534178, 6533889, 1029743, 6534166, 1082185]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1050741, 831063, 1067606, 1076105, 930666]","[6534178, 6533889, 1029743, 6534166, 1082185]"

In [599]:
def weighted_random_recommendation(items_weights, n=5, m = 10):
    """–°–ª—É—á–∞–π–Ω—ã–µ —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–∏
    
    Input
    -----
    items_weights: pd.DataFrame
        –î–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏ item_id, weight. –°—É–º–º–∞ weight –ø–æ –≤—Å–µ–º —Ç–æ–≤–∞—Ä–∞–º = 1
    n : int
        –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–æ–≤–∞—Ä–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ–º
    m : int
        —á–∏—Å–ª–æ —Ç–æ–≤–∞—Ä–æ–≤ —Å –±–æ–ª—å—à–∏–º –≤–µ—Å–æ–º, –∏–∑ –∫–æ—Ç–æ—Ä—ã—Ö –≤—ã–±–∏—Ä–∞–µ–º —Ç–æ–≤–∞—Ä—ã –¥–ª—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
    """
    items_weights.sort_values('weight', ascending=False, inplace=True)
    popular = np.array(items_weights.head(m)['item_id'])
    recs = np.random.choice(popular, size=n, replace=False)
    
    
    return recs.tolist()

In [600]:
items_weights = popularity.groupby('item_id')['sales_value'].sum().reset_index()
items_weights['weight'] = items_weights['sales_value'] / items_weights['sales_value'].sum()
items_weights.drop(['sales_value'], axis = 1, inplace = True)

In [601]:
result['weight_rand_rec'] = result['user_id'].apply(lambda x: weighted_random_recommendation(items_weights, n=5, m = 10))
result.head(2)

,user_id,actual,random_recommendation,popular_recommendation,weight_rand_rec
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[9655696, 922127, 860776, 956672, 850133]","[6534178, 6533889, 1029743, 6534166, 1082185]","[916122, 1029743, 6533889, 1082185, 6534166]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1050741, 831063, 1067606, 1076105, 930666]","[6534178, 6533889, 1029743, 6534166, 1082185]","[995242, 6533765, 6534178, 1082185, 1106523]"

In [602]:
type(result['random_recommendation'][7][0])

int

In [603]:
a, b = precision_at_k_column(result['random_recommendation'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è random_recommendation {}'.format(b))
c, d = precision_at_k_column(result['popular_recommendation'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è popular_recommendation {}'.format(d))
e, f = precision_at_k_column(result['weight_rand_rec'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è weight_rand_rec {}'.format(f))

—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è random_recommendation 0.005484818805093046
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è popular_recommendation 0.15523996082272282
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è weight_rand_rec 0.12693437806072477

–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –Ω–∞ –≤—Å–µ—Ö —Ç–æ–≤–∞—Ä–∞—Ö:
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è random_recommendation 0.0007835455435847209
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è popular_recommendation 0.15523996082272282
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è weight_rand_rec 0.022624877571008815

–í—ã–≤–æ–¥ - —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –Ω–∞ –±–µ–π–∑–ª–∞–π–Ω–∞—Ö —É–ª—É—á—à–∏–ª–∏—Å—å, –∫–æ–≥–¥–∞ –≤–∑—è–ª–∏ —Ç–æ–ø 5000 —Ç–æ–≤–∞—Ä–æ–≤(–∫—Ä–æ–º–µ popular_recommendation —Ç–∞–∫ –∫–∞–∫ —Ä–∞—Å—Å—á–µ—Ç –æ–¥–∏–Ω–∞–∫–æ–≤—ã–π)

**–ü–æ–ø—Ä–æ–±—É–π—Ç–µ —É–ª—É—á—à–∏—Ç—å —Ä–∞–∑–Ω—ã–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã ItemItemRecommender, –≤—ã–±–∏—Ä–∞—è —á–∏—Å–ª–æ —Å–æ—Å–µ–¥–µ–π  ùêæ**

In [604]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [605]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [606]:
# –ó–∞–≤–µ–¥–µ–º —Ñ–∏–∫—Ç–∏–≤–Ω—ã–π item_id (–µ—Å–ª–∏ —é–∑–µ—Ä –ù–ï –ø–æ–∫—É–ø–∞–ª —Ç–æ–≤–∞—Ä—ã –∏–∑ —Ç–æ–ø-5000, —Ç–æ –æ–Ω "–∫—É–ø–∏–ª" —Ç–∞–∫–æ–π —Ç–æ–≤–∞—Ä)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # —Ç–∞–∫ –∫–∞–∫ –≤ –∏—Ç–æ–≥–µ —Ö–æ—Ç–∏–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å 
user_item_matrix = user_item_matrix.astype(float) # –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–π —Ç–∏–ø –º–∞—Ç—Ä–∏—Ü—ã –¥–ª—è implicit

# –ø–µ—Ä–µ–≤–µ–¥–µ–º –≤ —Ñ–æ—Ä–º–∞—Ç saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [607]:
user_item_matrix.sum().sum() / (user_item_matrix.shape[0] * user_item_matrix.shape[1]) * 100

5.33770796861036

In [608]:
np.sort(data.item_id.unique())

array([   25671,    26081,    26093, ..., 18000012, 18024155, 18024556])

In [609]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [611]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - –∫–æ–ª-–≤–æ –±–∏–ª–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # –ù–∞ –≤—Ö–æ–¥ item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id –æ—Ç 0 –¥–æ N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                        N=5, # –∫–æ–ª-–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

CPU times: user 1.54 s, sys: 93 ms, total: 1.63 s
Wall time: 2.21 s

In [612]:
recs

[(2381, 78679.0),
 (3408, 72173.0),
 (2148, 57995.0),
 (3947, 17272.0),
 (3587, 14417.0)]

In [613]:
[id_to_itemid[rec[0]] for rec in recs]

[999999, 1082185, 981760, 1127831, 1098066]

In [614]:
%%time

result['itemitem_k5'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

CPU times: user 72 ms, sys: 3.07 ms, total: 75.1 ms
Wall time: 79.2 ms

–∏–∑–º–µ–Ω–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ—Å–µ–¥–µ–π –Ω–∞ 10

In [616]:
%%time

model2 = ItemItemRecommender(K=10, num_threads=4) # K - –∫–æ–ª-–≤–æ –±–∏–ª–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π
model2.fit(csr_matrix(user_item_matrix).T.tocsr(),  # –ù–∞ –≤—Ö–æ–¥ item-user matrix
          show_progress=True)

recs2 = model2.recommend(userid=userid_to_id[2],  # userid - id –æ—Ç 0 –¥–æ N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                        N=5, # –∫–æ–ª-–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

CPU times: user 1.5 s, sys: 26 ms, total: 1.52 s
Wall time: 1.53 s

In [618]:
%%time

result['itemitem_k10'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model2.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

CPU times: user 87.3 ms, sys: 1.77 ms, total: 89.1 ms
Wall time: 91.9 ms

–∏–∑–º–µ–Ω–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ—Å–µ–¥–µ–π –Ω–∞ 15

In [620]:
%%time
model3 = ItemItemRecommender(K=15, num_threads=4) # K - –∫–æ–ª-–≤–æ –±–∏–ª–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π
model3.fit(csr_matrix(user_item_matrix).T.tocsr(),  # –ù–∞ –≤—Ö–æ–¥ item-user matrix
          show_progress=True)

recs3 = model3.recommend(userid=userid_to_id[2],  # userid - id –æ—Ç 0 –¥–æ N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                        N=5, # –∫–æ–ª-–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

result['itemitem_k15'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model3.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5001.0), HTML(value='')))

CPU times: user 1.63 s, sys: 25 ms, total: 1.65 s
Wall time: 1.68 s

In [621]:
result.head(10)

,user_id,actual,random_recommendation,popular_recommendation,weight_rand_rec,itemitem_k5,itemitem_k10,itemitem_k15
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[9655696, 922127, 860776, 956672, 850133]","[6534178, 6533889, 1029743, 6534166, 1082185]","[916122, 1029743, 6533889, 1082185, 6534166]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1050741, 831063, 1067606, 1076105, 930666]","[6534178, 6533889, 1029743, 6534166, 1082185]","[995242, 6533765, 6534178, 1082185, 1106523]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[1084310, 1097001, 848319, 9211125, 852035]","[6534178, 6533889, 1029743, 6534166, 1082185]","[6534178, 1029743, 5569230, 6533765, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 840361, 995242]"
3,7,"[840386, 889774, 898068, 909714, 929067, 95347...","[1113780, 1092502, 1069334, 943393, 1025641]","[6534178, 6533889, 1029743, 6534166, 1082185]","[995242, 5569230, 6533765, 1106523, 6534166]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 1098066]","[999999, 1082185, 981760, 995242, 840361]"
4,8,"[835098, 872137, 910439, 924610, 992977, 10412...","[865174, 903738, 907647, 1001277, 862799]","[6534178, 6533889, 1029743, 6534166, 1082185]","[916122, 6534178, 995242, 6534166, 1029743]","[999999, 1082185, 981760, 1127831, 1098066]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 995242, 840361]"
5,9,"[864335, 990865, 1029743, 9297474, 10457112, 8...","[1070272, 13842088, 961980, 897752, 1130517]","[6534178, 6533889, 1029743, 6534166, 1082185]","[1082185, 6533889, 6534166, 1106523, 6534178]","[999999, 1082185, 981760, 995242, 1098066]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 995242]"
6,13,"[6534178, 1104146, 829197, 840361, 862070, 884...","[6944571, 995151, 5995597, 1054262, 925626]","[6534178, 6533889, 1029743, 6534166, 1082185]","[6534166, 6534178, 995242, 6533889, 5569230]","[999999, 1082185, 981760, 1098066, 1127831]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 995242, 840361]"
7,14,"[840601, 867293, 933067, 951590, 952408, 96569...","[5591154, 837270, 919766, 1031316, 8090509]","[6534178, 6533889, 1029743, 6534166, 1082185]","[6533889, 6534166, 916122, 1082185, 1029743]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 995242]"
8,15,"[910439, 1082185, 959076, 1023958, 1082310, 13...","[9296855, 993466, 904129, 1088835, 1118606]","[6534178, 6533889, 1029743, 6534166, 1082185]","[1082185, 5569230, 6533889, 6534178, 1029743]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]"
9,16,"[1062973, 1082185, 13007710]","[1102927, 12487154, 1055474, 9707240, 13382073]","[6534178, 6533889, 1029743, 6534166, 1082185]","[6533889, 995242, 6534166, 6533765, 6534178]","[999999, 1082185, 981760, 995242, 1029743]","[999999, 1082185, 981760, 840361, 1098066]","[999999, 1082185, 981760, 995242, 840361]"

In [622]:
e, f = precision_at_k_column(result['itemitem_k5'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k5 {}'.format(f))
g, h = precision_at_k_column(result['itemitem_k10'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k10 {}'.format(h))
j, k = precision_at_k_column(result['itemitem_k15'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k15 {}'.format(k))

—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k5 0.13692458374143
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k10 0.1509304603330069
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k15 0.15318315377081293

–í—ã–≤–æ–¥, –ø—Ä–∏ —É–≤–µ–ª–∏—á–µ–Ω–∏–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å–æ—Å–µ–¥–µ–π –∫–∞—á–µ—Å—Ç–≤–æ —É–ª—É—á—à–∞–µ—Ç—Å—è

### –ó–∞–¥–∞–Ω–∏–µ 0. –¢–æ–≤–∞—Ä 999999
–ù–∞ –≤–µ–±–∏–Ω–∞—Ä–µ –º—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª–∏ —Ç–æ–≤–∞—Ä 999999 - —á—Ç–æ —ç—Ç–æ –∑–∞ —Ç–æ–≤–∞—Ä? –ó–∞—á–µ–º –æ–Ω –Ω—É–∂–µ–Ω. –ò—Å–ø–æ–ª—å–∑—É—è —ç—Ç–æ—Ç —Ç–æ–≤–∞—Ä –º—ã —Å–º–µ—â—è–µ–º –∫–∞—á–µ—Å—Ç–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π. –í –∫–∞–∫—É—é —Å—Ç–æ—Ä–æ–Ω—É?  –ú–æ–∂–Ω–æ –ª–∏ —É–¥–∞–ª–∏—Ç—å —ç—Ç–æ—Ç —Ç–æ–≤–∞—Ä? –£–±–µ—Ä–∏—Ç–µ —ç—Ç–æ—Ç —Ç–æ–≤–∞—Ä –∏ —Å—Ä–∞–≤–Ω–∏—Ç–µ —Å –∫–∞—á–µ—Å—Ç–≤–æ–º –Ω–∞ —Å–µ–º–∏–Ω–∞—Ä–µ.

–¢–æ–≤–∞—Ä 999999 –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º –¥–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –æ–±–æ–∑–Ω–∞—á–∏—Ç—å –ª—é–±–æ–π –¥—Ä—É–≥–æ–π —Ç–æ–≤–∞—Ä, –Ω–µ –≤–æ—à–µ–¥—à–∏–π –≤ —Ç–æ–ø5000. 
–ò—Å–ø–æ–ª—å–∑—É—è —ç—Ç–æ—Ç —Ç–æ–≤–∞—Ä –º—ã —É—Ö—É–¥—à–∞–µ–º –∫–∞—á–µ—Ç—Å–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π, –Ω–æ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ —É–º–µ–Ω—å—à–∞–µ–º –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã –∞–ª–≥–æ—Ä–∏—Ç–º–∞

In [623]:
data_train.shape

(2278490, 12)

In [655]:
data_train_1 = data_train.loc[data_train['item_id'] != 0]
data_train_1.shape

(1448716, 12)

In [669]:
data_train.loc[data_train['item_id'] == 0, 'item_id'] =6534178

/usr/local/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [670]:
data_train[data_train['item_id'] == 6534178]

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
6,2375,26984851516,1,6534178,1,1.57,364,-0.68,1642,1,0.0,0.0
8,2375,26984851516,1,6534178,1,1.89,364,0.00,1642,1,0.0,0.0
9,2375,26984851516,1,6534178,1,2.00,364,-0.79,1642,1,0.0,0.0
10,2375,26984851516,1,6534178,1,2.00,364,-0.79,1642,1,0.0,0.0
12,1364,26984896261,1,6534178,1,2.99,31742,-0.40,1520,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2282311,2088,41297771158,635,6534178,1,15.65,304,-5.25,1258,91,0.0,0.0
2282314,1541,41297771177,635,6534178,1,1.05,304,0.00,1300,91,0.0,0.0
2282315,1541,41297771180,635,6534178,1,5.19,304,0.00,1301,91,0.0,0.0
2282316,1168,41297772063,635,6534178,1,12.40,304,0.00,1526,91,0.0,0.0
2282321,462,41297773713,635,6534178,1,1.99,304,0.00,2040,91,0.0,0.0

In [656]:
#data_train.loc[data_train["item_id"]==999999, "item_id"] = 0

In [671]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # —Ç–∞–∫ –∫–∞–∫ –≤ –∏—Ç–æ–≥–µ —Ö–æ—Ç–∏–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å 
user_item_matrix = user_item_matrix.astype(float) # –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–π —Ç–∏–ø –º–∞—Ç—Ä–∏—Ü—ã –¥–ª—è implicit

# –ø–µ—Ä–µ–≤–µ–¥–µ–º –≤ —Ñ–æ—Ä–º–∞—Ç saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [672]:
user_item_matrix.sum().sum() / (user_item_matrix.shape[0] * user_item_matrix.shape[1]) * 100

5.328651460584234

In [673]:
np.sort(data.item_id.unique())

array([   25671,    26081,    26093, ..., 18000012, 18024155, 18024556])

In [674]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [675]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - –∫–æ–ª-–≤–æ –±–∏–ª–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # –ù–∞ –≤—Ö–æ–¥ item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id –æ—Ç 0 –¥–æ N
                        user_items=csr_matrix(user_item_matrix).tocsr(),   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                        N=5, # –∫–æ–ª-–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=5000.0), HTML(value='')))

CPU times: user 1.61 s, sys: 47.8 ms, total: 1.66 s
Wall time: 1.95 s

In [676]:
%%time

result['itemitem_without99_v2'] = result['user_id'].\
    apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[x], 
                                    user_items=sparse_user_item,   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                                    N=5, 
                                    filter_already_liked_items=False, 
                                    filter_items=None, 
                                    recalculate_user=True)])

CPU times: user 89.3 ms, sys: 2.15 ms, total: 91.5 ms
Wall time: 113 ms

In [679]:
result.head(3)

,user_id,actual,random_recommendation,popular_recommendation,weight_rand_rec,itemitem_k5,itemitem_k10,itemitem_k15,itemitem_without99,itemitem_without99_v2
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[9655696, 922127, 860776, 956672, 850133]","[6534178, 6533889, 1029743, 6534166, 1082185]","[916122, 1029743, 6533889, 1082185, 6534166]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 995242, 840361]","[0, 1082185, 981760, 1127831, 995242]","[6534178, 1082185, 981760, 1127831, 995242]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1050741, 831063, 1067606, 1076105, 930666]","[6534178, 6533889, 1029743, 6534166, 1082185]","[995242, 6533765, 6534178, 1082185, 1106523]","[999999, 1082185, 981760, 1098066, 995242]","[999999, 1082185, 981760, 1098066, 826249]","[999999, 1082185, 981760, 1098066, 826249]","[0, 1082185, 981760, 1098066, 995242]","[6534178, 1082185, 981760, 1098066, 826249]"
2,6,"[920308, 926804, 946489, 1006718, 1017061, 107...","[1084310, 1097001, 848319, 9211125, 852035]","[6534178, 6533889, 1029743, 6534166, 1082185]","[6534178, 1029743, 5569230, 6533765, 995242]","[999999, 1082185, 981760, 1127831, 995242]","[999999, 1082185, 981760, 995242, 840361]","[999999, 1082185, 981760, 840361, 995242]","[0, 1082185, 981760, 1127831, 995242]","[6534178, 1082185, 981760, 1127831, 995242]"

In [678]:
e, f = precision_at_k_column(result['itemitem_k5'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k5 {}'.format(f))
g, h = precision_at_k_column(result['itemitem_without99'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_without99 {}'.format(h))
j, k = precision_at_k_column(result['itemitem_without99_v2'], result['actual'], k=5)
print('—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_without99_v2 {}'.format(k))

—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_k5 0.13692458374143
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_without99 0.13682664054848187
—Å—Ä–µ–¥–Ω–∏–π precision_at_k –¥–ª—è itemitem_without99_v2 0.17492654260528892

–í–æ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Å —Ä–∞–∑–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏
- –ø–µ—Ä–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∫–∞–∫ –Ω–∞ –≤–µ–±–∏–Ω–∞—Ä–µ —Å —Ç–æ–≤–∞—Ä–æ–º 999999
- –≤—Ç–æ—Ä–æ–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç —Å —Ç–æ–≤–∞—Ä–æ–º 0 –≤–º–µ—Å—Ç–æ 999999. –ü—ã—Ç–∞–ª–∞—Å—å —Å–¥–µ–ª–∞—Ç—å —Å–ª–µ–¥—É—é—â–µ–µ - —É–±—Ä–∞—Ç—å –≤–æ–æ–±—â–µ –≤ —Ç—Ä–µ–π–Ω–µ –∑–∞–ø–∏—Å–∏ –ø—Ä–æ —Ç–æ–≤–∞—Ä—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –≤–æ—à–ª–∏ –≤ —Ç–æ–ø 5000, –Ω–æ –Ω–∞ –ø–æ—Å–ª–µ–¥–Ω–µ–º —ç—Ç–∞–ø–µ –∫–æ–≥–¥–∞ –¥–µ–ª–∞—é—Ç—Å—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ—è–≤–ª—è–µ—Ç—Å—è –æ—à–∏–±–∫–∞ 650. —Ç–∞–∫ –∏ –Ω–µ —Å–º–æ–≥–ª–∞ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –ø–æ—á–µ–º—É( –Ω–æ –≤–∏–¥–∏–º–æ —Å–≤—è–∑–∞–Ω–æ —Å —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å—é –¥–∞–Ω–Ω—ã—Ö, –º–æ–∂–µ—Ç user_id)
- –≤ —Ç—Ä–µ—Ç—å–µ–º —Å–ª—É—á–∞–µ –∑–∞–º–µ–Ω–∏–ª–∞ –≤—Å–µ —Ç–æ–≤–∞—Ä—ã, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –≤–æ—à–ª–∏ –≤ —Ç–æ–ø 5000 –Ω–∞ —Ç–æ–≤–∞—Ä, –∫–æ—Ç–æ—Ä—ã–π –≤–æ—à–µ–ª –≤ —ç—Ç–æ—Ç —Ä–µ–π—Ç–∏–Ω–≥

–õ—É—á—à–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ–ª—É—á–∏–ª—Å—è –∫–æ–≥–¥–∞ –º—ã –∏—Å–ø–æ–ª—å–∑—É–µ–º —Ç–æ–ª—å–∫–æ —Ç–æ–ø5000 —Ç–æ–≤–∞—Ä–æ–≤

### –ó–∞–¥–∞–Ω–∏–µ 4. –£–ª—É—á—à–µ–Ω–∏–µ –¥–µ—Ç–µ—Ä–º–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤
–ù–∞ —Å–µ–º–∏–Ω–∞—Ä–µ –º—ã —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–ª–∏

–î–∞–ª–µ–µ $U \equiv N_i(u) $

$$r_{u,i} =  \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)r_{v, i}$$
$$ S = \sum\limits_{v \in U} \operatorname{sim}(u,v)$$

–ü—Ä–µ–¥–ª–∞–≥–∞–µ—Ç—Å—è —É–ª—É—á—à–∏—Ç—å —ç—Ç—É —Ñ–æ—Ä–º—É–ª—É –∏ —É—á–µ—Å—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

$$r_{u,i} = \mu + \bar{r_u} + \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)(r_{v, i}-\bar{r_{v}} - \mu)$$

–ö–∞–∫–∏–µ —Å–º—ã—Å–ª –∏–º–µ–µ—é—Ç $ \mu $ –∏ $ \bar{r_u}$ ?

–†–µ–∞–ª–∏–∑—É–π—Ç–µ –∞–ª–≥–æ—Ä–∏—Ç–º, –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É—é—â–∏–π —Ä–µ–π—Ç–∏–Ω–≥–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –¥–∞–Ω–Ω–æ–π —Ñ–æ—Ä–º—É–ª—ã, –Ω–∞ numpy (–≤–µ–∫—Ç–æ—Ä–∏–∑–æ–≤–∞–Ω–Ω–æ!)

–í –∫–∞—á–µ—Å—Ç–≤–µ —Å—Ö–æ–∂–µ—Å—Ç–∏ –≤–æ–∑—å–º–∏—Ç–µ CosineSimilarity.

–ü—Ä–∏–º–µ–Ω–∏—Ç–µ –∫ user_item_matrix. –í –∫–∞—á–µ—Å—Ç–≤–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –≤–æ–∑—å–º–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–ª–∏ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫—É–ø–ª–µ–Ω–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä–∞. 
–î–∞–Ω–Ω—ã–π –∞–ª–≥–æ—Ä–∏—Ç–º –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥–∏. –ö–∞–∫ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å —Ñ–∞–∫—Ç –ø–æ–∫—É–ø–∫–∏?

–ü—Ä–µ–¥–ª–æ–∂–∏—Ç–µ –≤–∞—Ä–∏–∞–Ω—Ç.
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ accuracy@5 –∏ —Å—Ä–∞–≤–Ω–∏—Ç–µ —Å –∞–ª–≥–æ—Ä–∏—Ç–º–∞–º–∏, —Ä–∞–∑–æ–±—Ä–∞–Ω–Ω—ã–º–∏ –Ω–∞ –≤–µ–±–∏–Ω–∞—Ä–µ.